* body {
  width: 80%;
  margin: 0;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
}
body > table {
  width: 80%;
}
button {
  margin-top: 30px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 22px;
  border-radius: 5px;
  cursor: pointer;
}

table {
  border-collapse: separate;
}
table.list {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #dddddd;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 30%;
  background-color: rgb(14, 13, 13);
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #0000ee;
  margin-right: 4px;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
